<!DOCTYPE html>
<html>
<head>
	<title>Delete Student</title>
</head>
<body>
  <form action="/students/delete" method="POST">
    <input type="text" name="name" placeholder="Full Name">
    <button type="submit">Delete</button>
  </form>

</body>
</html>